.main{
    padding: 5em;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    background: #9B2242;;
    
    color: white;
  }
  .griding{
    display: grid;
    grid-template-columns: 8em 8em 8em;
    grid-column-gap: 5em;
    justify-content: space-evenly;
    /* width: 20em; */
  }
  .links{
    margin-right: 1em;
  }